unpackaged/main/default/flows/Survey_Calls_Sales_on_CallTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Survey_Calls_Sales_already_created</name>
        <label>Is Survey Calls Sales already created ?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>NO - Abort</defaultConnectorLabel>
        <rules>
            <name>SCS_Created</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Sale_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>831</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCSCreatedDate30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCSAnsweredDate30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCSAnsweredDate30Days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCSCreatedDate30Days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSurveyDateOfToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Survey_Calls_Sales</targetReference>
            </connector>
            <label>YES - Create a Survey Calls Sales</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetSurveyDateOfToday</name>
        <dataType>Boolean</dataType>
        <expression>IF(DATEVALUE({!Get_Survey.CreatedDate}) = TODAY(), True, False)</expression>
    </formulas>
    <formulas>
        <name>SCSAnsweredDate30Days</name>
        <dataType>Boolean</dataType>
        <expression>(TODAY() - {!Get_Survey.Date_of_Answer__c}) &lt;= 30</expression>
    </formulas>
    <formulas>
        <name>SCSCreatedDate30Days</name>
        <dataType>Boolean</dataType>
        <expression>(TODAY() - DATEVALUE({!Get_Survey.CreatedDate})) &lt;= 30</expression>
    </formulas>
    <formulas>
        <name>SurveyDateOfToday</name>
        <dataType>Boolean</dataType>
        <expression>IF(DATEVALUE({!SurveyCallsSales.CreatedDate}) = TODAY(), True, False)</expression>
    </formulas>
    <interviewLabel>Survey Calls Sales on CallTask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Calls Sales on CallTask V3.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creation_Survey_Calls_Sales</name>
        <label>Creation Survey Calls Sales</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_SubType__c</field>
            <value>
                <elementReference>$Record.SubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Calls_Sales__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey</name>
        <label>Get Survey</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Survey_Calls_Sales_already_created</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey_Calls_Sales__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-up</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispute</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unreachable__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Test</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Test&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Testflow</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Test&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CallActivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SurveyCallsSales</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Calls_Sales__c</objectType>
    </variables>
    <variables>
        <name>TestSurveyCallBapt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Calls_Sales__c</objectType>
    </variables>
    <variables>
        <name>UserOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
